# Exclude Git repository
.git/

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# Build artifacts
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3
*.db

# Misc
.DS_Store
